<!-- Navigation bar -->
<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" th:href="@{/home}">Abyssinia Resort & Spa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <!-- Room Management -->
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="roomManagementDropdown"
                       role="button" data-toggle="dropdown" aria-expanded="false">
                        Rooms
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="roomManagementDropdown">
                        <li><a class="dropdown-item" th:href="@{/rooms}">All Rooms</a></li>
                        <li><a class="dropdown-item" th:href="@{/add_room}">Add New Room</a></li>
                    </ul>
                </li>

                <!-- Booking Management -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="bookingManagementDropdown"
                       role="button" data-toggle="dropdown" aria-expanded="false">
                        Booking
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="bookingManagementDropdown">
                        <li><a class="dropdown-item" th:href="@{/bookings/new}">Book Now</a></li>
                        <li><a class="dropdown-item" th:href="@{/bookings/my_booking}">Find My
                            Booking</a></li>
                    </ul>
                </li>

                <!-- Role Management Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="roleManagementDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                        Role
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="roleManagementDropdown">
                        <li><a class="dropdown-item" th:href="@{/roles/new}">Add Role</a></li>
                        <li><a class="dropdown-item" th:href="@{/roles}">Manage Roles</a></li>
                    </ul>
                </li>

               <!-- Logout Button -->
                <li class="nav-item ml-2 mt-2" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" style="display: inline;">
                        <input class="nav-link btn btn-link" type="submit" value="Logout"
                               style="padding: 0; color: white; background: none;  border: none;"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--Footer-->
<div th:fragment="footer">
    <footer class="fixed-bottom text-white text-center py-3">
        <p class="mb-0">&copy; 2024 Abyssinia Resort. All rights reserved.</p>
    </footer>
</div>

