.navbar {
    background-color: #004d4d;
}

.navbar-right {
    margin-left: auto;
}
/* Modify the background color */
.navbar-custom {
    background-color: #004d4d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
    color: white;
    padding-left: 30px;
}

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-image {
    background-image: url("../images/Lodge.jpg");
    position: relative;
    height: 86%;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    position: absolute;
    font-size: 4rem;
    top: 15%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    line-height: 1.2;
}
.bookNow {
    background-color: #f8f9fa;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer {
    background-color: #004d4d;
    color: white;
    padding: 1rem;
    text-align: center;
}













