<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abyssinia Resort</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styleHome.css}">
<!--    <link rel="stylesheet" href="/css/styleHome.css">-->
</head>
<body>

<div>
   <!--YOU CAN SPECIFY VISIBLE CONTENT BASED ON USER ROLE-->
    <div sec:authorize="isAuthenticated()">
        <!-- Header -->
        <div th:replace="~{fragment/nav_footer :: navbar}"></div>

        <!-- Banner Section -->
        <section class="banner">
            <div class="banner-image">
                <div class="banner-text">
                    <h1>Welcome to Abyssinia Resort</h1>
                    <h4>Step into a haven of comfort and care</h4>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <div th:replace="~{fragment/nav_footer :: footer}"></div>
    </div>
<!--    <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--        This content is only shown to administrators.-->
<!--    </div>-->
<!--    <div sec:authorize="hasRole('ROLE_USER')">-->
<!--        This content is only shown to users.-->
<!--    </div>-->
</div>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
