<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/styleHome.css}">
</head>
<body>
<!-- Header -->
<div th:replace="~{fragment/nav_footer :: navbar}"></div>

<div class="container mt-5">
    <h2 class="ml-3">Room Details</h2>
    <div>
        <div class="card-body">
            <p class="card-text">
                <img th:src="@{/image/{id}(id=${room.id})}" alt="Room Photo" width="500"
                     class="img-fluid" />
            </p>
            <p class="card-text"><strong>Room Type: </strong> <span
                    th:text="${room.roomType}"></span> Bed Room</p>
            <p class="card-text"><strong>Price: </strong> $<span
                    th:text="${room.roomPrice}"></span> / night</p>

        </div>
        <div >
            <a href="#" class="btn btn-info" th:href="@{/bookings/new}">Book Now</a>
            <a class="btn btn-warning" th:href="@{/edit/{id}(id=${room.id})}">Edit Room</a>
            <a href="#" class="btn btn-secondary" th:href="@{/rooms}">Go Back</a>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragment/nav_footer :: footer}"></div>

<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
