<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a New Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styleHome.css}">
    <!--    <script src="/path/to/your/scripts.js"></script>-->
</head>
<body>
<!-- Header -->
<div th:replace="~{fragment/nav_footer :: navbar}"></div>

<section class="container bookNow">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2>Add a New Room</h2>

            <!-- Display success message -->
            <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

            <!-- Display failure message -->
            <div th:if="${failureMessage}" class="alert alert-danger" th:text="${failureMessage}"></div>

            <form th:action="@{/add_room}" method="post" enctype="multipart/form-data"
                  id="addRoomForm">
                <div class="mb-3">
                    <label for="roomType" class="form-label">Room Type</label>
                    <input type="text" class="form-control" id="roomType" name="roomType" required>
                </div>

                <div class="mb-3">
                    <label for="roomPrice" class="form-label">Room Price</label>
                    <input type="number" class="form-control" id="roomPrice" name="roomPrice" required>
                </div>

                <div class="mb-3">
                    <label for="photo" class="form-label">Room Photo</label>
                    <input type="file" class="form-control" id="photo" name="photo" onchange="previewImage(event)">
                    <img id="imagePreview" src="#" alt="Preview Room Photo" style="display:none; max-width: 400px; max-height: 400px;" class="mb-3"/>
                </div>

                <div class="d-grid d-md-flex mt-2">
                    <button type="submit" class="btn btn-primary mt-2">Save Room</button>
                </div>


                <!-- Display room details if available -->
<!--                <div th:if="${room}">-->
<!--                    <h3>Room Details</h3>-->
<!--                    <p>ID: <span th:text="${room.id}"></span></p>-->
<!--                    <p>Type: <span th:text="${room.roomType}"></span></p>-->
<!--                    <p>Price: <span th:text="${room.roomPrice}"></span></p>-->
<!--                </div>-->

            </form>
        </div>
    </div>
</section>

<!-- Footer -->
<div th:replace="~{fragment/nav_footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function previewImage(event) {
        const input = event.target;
        const file = input.files[0];
        const preview = document.getElementById('imagePreview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    }
</script>
</body>
</html>
